# Python cache files
__pycache__/
*.pyc

# Environment files
.env

# SQLite database
*.db

# VS Code workspace settings
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environment
venv/